<!-- 여기서 navigation 에 표시할 이이템 추가 -->
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/ios-tip/">iOS tip</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/tdd/">TDD</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/rxswift/">RxSwift</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/tayga/">Tayga 개발기</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://github.com/Leejigun">github</a></li>
</ul>
